body {
    font-family: Arial, sans-serif;
    background-image:url(assets2/backgroundimg2.jpeg) ;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  name{
    font-size: 30px;
    font-weight: bold;
    color: rgb(245, 245, 245);
    background-color: #333;

  }
  img{
    width: 25vw;
  }
  